@font-face {
  font-family: arcade;
  src: url(ARCADECLASSIC.TTF);
}

a {
  color: green;
  text-decoration: none;
}

a:link {
  color: green;
}

a:hover {
  color: #20380f;
}

body {
  background-color: black;
  color: green;
}

.title {
  text-align: center;
  font-family: arcade;
  margin-left: auto;
  margin-right: auto;
}

.title h1 {
  font-size: 48px;
  letter-spacing: 10px;
  margin-bottom: 0px;
}

.title h3 {
  font-family: monospace;
  margin-top: 0px;
}

.machines {
  width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.machine {
  display: inline-block;
  background-image: url("graphics/template0.png");
  filter: brightness(70%);
  background-repeat: no-repeat;
  cursor: pointer;
  width: 187px;
  height: 265px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#game1 {
  display: inline-block;
  width: 187px;
  height: 315px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#game2 {
  display: inline-block;
  width: 187px;
  height: 315px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#game3 {
  display: inline-block;
  width: 187px;
  height: 315px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#game1:hover {
  background-image: url("graphics/template1.png");
}

#game2:hover {
  background-image: url("graphics/template2.png");
}

#game3:hover {
  background-image: url("graphics/template3.png");
}

.choose {
  text-align: center;
  font-family: arcade;
  margin-left: auto;
  margin-right: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  text-align: center;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

canvas {
  border: solid 1px #000;
}

.board {

}

#gameBoard {

}

.cardsContainer {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: inline-block;
  width: 89px;
  height: 151px;
  background-image: url("graphics/cards/rewers.png");
}

.card:hover {
  cursor: pointer;
  border: 3px solid red;
}
